.idea
.vscode
*.suo
*.sw?
.DS_Store
Thumbs.db
docker/supervisor/log/*
!docker/supervisor/log/.gitkeep
turk-ai-backend/vendor
turk-ai-backend/node_modules
turk-ai-backend/public/hot
turk-ai-backend/public/storage
turk-ai-backend/storage/*.key
turk-ai-backend/.phpunit.result.cache
turk-ai-backend/Homestead.json
turk-ai-backend/Homestead.yaml
turk-ai-backend/supervisord.log
turk-ai-backend/supervisord.pid
turk-ai-backend/npm-debug.log
turk-ai-backend/yarn-error.log


turk-ai-frontend/node_modules
turk-ai-frontend/dist
turk-ai-frontend/dist-ssr
turk-ai-frontend/coverage
turk-ai-frontend/*.local
turk-ai-frontend/*.tsbuildinfo
turk-ai-frontend/.eslintcache
turk-ai-frontend/*.timestamp-*-*.mjs
